<div id="content" class="container mx-auto px-4 pt-14 sm:px-6 lg:px-8">

   <!-- <div class="block c-h1 my-7">Accede a la herramienta de Gestión de Carnets</div>

        <desy-notification *ngIf="loginOk" id="type-success" classes="c-notification--success my-4"
            [title]="{text:'Te has identificado correctamente',classes:'font-bold'}"
            [description]="{text:textLogin}"
            type="success"
            [isDismissible]=false>
        </desy-notification>

        <div class="m-auto mt-6 h-auto grid grid-flow-col lg:auto-cols-max md:mr-32 sm:mr-6">
            <desy-spinner text="Cargando. Por favor, espera unos segundos..." classes="mx-7 my-4 inline-block self-start"></desy-spinner>
            <div class="inline"><span class="c-h2">Cargando. Por favor, espera unos segundos...</span>
            <p class="mt-3">Tarda demasiado, espera unos minutos y
                <a href="#"
            class="c-link hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            vuelve a intentarlo</a> desde el inicio.</p></div>
        </div>
 -->
  <h1 class="block c-h1 my-7">Accede a la carpeta ciudadana </h1>
    <div *ngIf="!loginOk">
      <h3>No se ha realizado login correctamente, vuelva a intentarlo</h3>
      <div id="iframe-login" style='height: 100vh;' class='my-7' *ngIf="this.safeURL">
        <iframe title='Accede a la herramienta de Gestión de Carnets' id="mfe_iframe" width="100%" height="100%" [src]="this.safeURL">
        </iframe>
      </div>
    </div>
    <div *ngIf="!loginOk">
      <h3>Ha realizado login correctamente</h3>
      <p>Token: {{token}}</p>
    </div>

  </div>
